/* dropmenu.css */

.dropdown {
  /* appearance: none; */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  position: relative;
  padding-right: 30px;
}
.dropdown option {
  line-height: 2;
}

.dropdown:hover {
  background-color: #f9f9f9;
}

.dropdown:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dropdown option {
  padding: 10px;
  font-size: 16px;
  background-color: white;
}

.dropdown option:hover {
  background-color: #f1f1f1;
}
